<div *ngIf="formControlName && !readOnly" class="d-inline">
    <div *ngIf="!onlyPlaceHolder" class="h7 me-1"><span *ngIf="isMandatory" class="red me-2">*</span>{{'taskUI.tasks-header-status' | translate}}</div>
    <p-dropdown placeholder="{{ 'taskUI.filter-status-placeholder'| translate }}"
            [options]="statuses"
            [formControl]="control"
            (onChange)="statusChanged($event)">
    </p-dropdown>
</div>

<div *ngIf="readOnly" class="d-inline">
    <strong class="me-1 d-inline">{{'taskUI.tasks-header-status' | translate}}</strong>
    <button *ngIf="editable && readOnly"
            class="btn btn-outline-secondary ms-3 mb-1 d-inline"
            type="button"
            (click)="editClick()"><i class="pi pi-pencil"></i>
    </button>
    <div>
        <p-tag [style]="{'background-color': getStatusColor(taskStatusValue)}" value="{{taskStatusValue | translate}}"></p-tag>
    </div>
</div>

