<div class="container">
    <div class="float-end mb-2" [pTooltip]="!canUserEditTheProject() ? ('taskUI.unauthorised-message-content' | translate) : ''">
        <button
            class="btn btn-link btn-sm"
            *ngIf="action === actions.VIEW"
            type="submit"
            routerLink="{{updateProjectURL}}{{project.identifier}}"
            [disabled]="!canUserEditTheProject()"
        >
            <span>{{'taskUI.create-project-update-link' | translate}}</span>
        </button>
    </div>

    <h5 class="mt-2 grey-color">
        <span *ngIf="action === actions.CREATE">{{'taskUI.create-project-title' | translate}}</span>
        <span *ngIf="action === actions.UPDATE">{{'taskUI.update-project-title' | translate}}</span>
        <span *ngIf="action === actions.VIEW">{{'taskUI.view-project-title' | translate}}</span>
    </h5>
    <form
        [formGroup]="projectForm"
        class="mt-4">
        <div class="mb-3">
            <span class="p-float-label">
                <input
                    formControlName="name"
                    [readonly]="action === actions.VIEW"
                    id="projectName"
                    type="text"
                    maxlength="250"
                    pInputText
                    [ngClass]="'form-control ng-invalid ng-dirty'"
                >
                <label for="projectName"><span class="red">*</span> {{'taskUI.create-project-project-name' | translate }}</label>
            </span>
            <small *ngIf="action !== actions.VIEW && projectForm?.get('name')?.invalid && projectForm?.get('name')?.dirty"
                   class="p-error block">{{'taskUI.field-required' | translate}}
            </small>
        </div>
        <div *ngIf="action !== actions.CREATE" class="mb-3 mt-5">
            <span class="p-float-label">
                <input id="createdBy"
                       [readonly]="true"
                       type="text"
                       [value]="project?.createdBy"
                       pInputText class="form-control">
                <label for="createdBy">{{'taskUI.create-project-created-by' | translate}}</label>
            </span>
        </div>
        <div *ngIf="action !== actions.CREATE" class="mb-3 mt-5">
            <span class="p-float-label">
                <input id="creationDate"
                       [readonly]="true"
                       type="text"
                       value="{{project?.createdAt | date: datePipeDateFormat}}"
                       pInputText class="form-control">
                <label for="createdBy">{{'taskUI.create-project-creation-date' | translate}}</label>
            </span>
        </div>
        <div class="mb-3 mt-5">
            <span class="p-float-label">
                <input formControlName="prefixIdentifier"
                       id="prefixIdentifier"
                       [readonly]="action === actions.VIEW"
                       type="text" maxlength="45"
                       pInputText class="form-control">
                <label for="prefixIdentifier"><span class="red">*</span> {{'taskUI.create-project-project-prefix' | translate}}</label>
            </span>
            <div class="form-text">{{'taskUI.create-project-project-prefix-help' | translate}}</div>
            <small *ngIf=" action !== actions.VIEW && projectForm?.get('prefixIdentifier')?.invalid && projectForm?.get('prefixIdentifier')?.dirty"
                   class="p-error block">{{'taskUI.field-required' | translate}}
            </small>
        </div>
        <div class="mb-3 mt-5">
           <span class="p-float-label">
               <textarea
                   [readonly]="action === actions.VIEW"
                   formControlName="description"
                   maxlength="500"
                   class="form-control"
                   id="descriptionTextArea"
                   rows="5"
                   cols="30"
                   pInputTextarea
                   autoResize="autoResize"></textarea>
               <label for="descriptionTextArea">{{'taskUI.create-project-project-description' | translate}}</label>
            </span>
        </div>

        <div class="row">
            <!--statuses-->
            <div class="col-6">
                <p-orderList [value]="statusesFormArray.controls" [dragdrop]="true">
                    <ng-template pTemplate="header">
                        <div class="clearfix">
                            <h5 class="float-start">{{'taskUI.create-project-statuses-name-title' | translate}}</h5>
                            <div class="float-end">
                                <button
                                    (click)="addStatus()"
                                    type="button"
                                    class="btn">
                                    <i [pTooltip]="'taskUI.create-project-add-status-tooltip' | translate" class="pi pi-plus"></i>
                                </button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template formArrayName="statuses" let-configuration let-options="options" pTemplate="item">
                        {{options}}
                        <div class="clearfix" [formGroupName]="configuration.value.weight">
                            <div class="float-start mt-3">
                             <span class="p-float-label">
                                <input
                                    formControlName="configurationValue"
                                    id="statusName"
                                    [readonly]="action === actions.VIEW"
                                    type="text" maxlength="45"
                                    pInputText>
                                <label for="statusName"><span class="red">*</span> {{'taskUI.create-project-status-name-place-holder' | translate}}</label>
                         </span>
                            </div>
                            <div class="float-start mt-4">
                                <span class="ms-2 me-2">{{'taskUI.create-project-status-color-label' | translate}}</span>
                                <p-colorPicker  formControlName="color" appendTo="body"></p-colorPicker>
                            </div>
                            <div class="float-end">
                                <button
                                    type="button"
                                    (click)="deleteStatus(configuration.value.weight)"
                                    class="btn">
                                    <i [pTooltip]="'taskUI.create-project-status-name-tooltip' | translate" class="pi pi-times"></i>
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </p-orderList>
            </div>

            <!--priorities-->
            <div class="col-6">
                <p-orderList [value]="prioritiesFormArray.controls" [dragdrop]="true">
                    <ng-template pTemplate="header">
                        <div class="clearfix">
                            <h5 class="float-start">{{'taskUI.create-project-priorities-name-title' | translate}}</h5>
                            <div class="float-end">
                                <button
                                    (click)="addPriority()"
                                    type="button"
                                    class="btn">
                                    <i [pTooltip]="'taskUI.create-project-add-priority-tooltip' | translate" class="pi pi-plus"></i>
                                </button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template formArrayName="priorities" let-configuration let-options="options" pTemplate="item">
                        {{options}}
                        <div class="clearfix" [formGroupName]="configuration.value.weight">
                            <div class="float-start mt-3">
                             <span class="p-float-label">
                                <input
                                    formControlName="configurationValue"
                                    id="priorities"
                                    [readonly]="action === actions.VIEW"
                                    type="text" maxlength="45"
                                    pInputText>
                                <label for="statusName"><span class="red">*</span> {{'taskUI.create-project-priority-name-place-holder' | translate}}</label>
                         </span>
                            </div>
                            <div class="float-start mt-4">
                                <span class="ms-2 me-2">{{'taskUI.create-project-priority-color-label' | translate}}</span>
                                <p-colorPicker  formControlName="color" appendTo="body"></p-colorPicker>
                            </div>
                            <div class="float-end">
                                <button
                                    type="button"
                                    (click)="deleteStatus(configuration.value.weight)"
                                    class="btn">
                                    <i [pTooltip]="'taskUI.create-project-status-name-tooltip' | translate" class="pi pi-times"></i>
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </p-orderList>
            </div>
        </div>

        <button
            *ngIf="action !== actions.VIEW"
            [disabled]="projectForm.invalid"
            type="button"
            class="mt-2 mb-2"
            (click)="submit()"
            [ngClass]="project? 'btn btn-warning' : 'btn btn-primary'">
            <span *ngIf="!project">{{'taskUI.create-project-create-button' | translate}}</span>
            <span *ngIf="project">{{'taskUI.create-project-update-button' | translate}}</span>
        </button>
    </form>
</div>
