<form [formGroup]="taskForm" class="container-fluid mt-1">
    <div class="row">
        <!-- left -->
        <div class="col-12 col-sm-1 mt-1">
            <div class="row">
                <div class="col-12">
                    <p-avatar
                        class="ms-1"
                        [style]="{
                            'background-color': (task?.name | stringToColor),
                            'font-size': '2rem',
                            'color': '#ffffff',
                            'height': '64px',
                            'maxWidth': '64px',
                            'width': '100%'}
                        ">
                        {{task?.name | shortText:2}}
                    </p-avatar>
                </div>
            </div>
        </div>

        <!--center-->
        <div class="col-12 col-sm-8">
            <div class="row">
                <div class="col-12">
                    <div>{{'taskUI.task-details-task-name' | translate}}</div>
                    <div class="input-group input-group mt-2">
                        <input #nameInput
                               formControlName="name"
                               type="text"
                               (focusout)="updateTask()"
                               class="form-control"
                               pInputText
                               [readonly]="isTaskNameReadOnly"
                               [pTooltip]="isTaskNameReadOnly ? ('taskUI.unauthorised-message-content' | translate) : ''"
                               [ngClass]="'form-control ng-invalid ng-dirty'">
                    </div>
                    <small *ngIf="taskForm?.get('name')?.invalid && taskForm?.get('name')?.dirty"
                           class="p-error block">{{'taskUI.field-required' | translate}}
                    </small>
                </div>
            </div>
            <div class="row">
                <!-- description -->
                <div class="col-12">
                    <span>{{'taskUI.task-details-description' | translate}}</span>
                    <div [pTooltip]="isDescriptionReadOnly ? ('taskUI.unauthorised-message-content' | translate) : ''">
                        <p-editor formControlName="description"
                                  (click)="setDescriptionState(true)"
                                  [readonly]="isDescriptionReadOnly || !isDescriptionEditable"
                                  [ngClass]="[ isDescriptionReadOnly ? 'readonly disabled' : '', !isDescriptionEditable ? 'readonly' : '' ]"
                                  [style]="{'height':'100px'}">
                            <ng-template pTemplate="header">
                                <span class="ql-formats">
                                    <select class="ql-size"></select>
                                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                                    <button type="button" class="ql-strike" aria-label="Strike"></button>
                                    <button type="button" class="ql-blockquote" aria-label="Blockquote"></button>
                                    <button type="button" class="ql-link" aria-label="Link"></button>
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                </span>
                            </ng-template>
                        </p-editor>
                        <div *ngIf="isDescriptionEditable" class="mt-1 rounded border clearfix">
                            <div class="float-end mb-1 me-1">
                                <button *ngIf="taskForm?.get('description')?.valid"
                                        (click)="updateTask(); setDescriptionState(false)"
                                        type="button"
                                        class="ms-1 mt-1 btn btn-outline-success">{{'taskUI.save' | translate}}
                                    <i class="pi pi-check"></i>
                                </button>
                                <button (click)="cancelDescription()"
                                        type="button"
                                        class="ms-1 mt-1 btn btn-outline-danger">{{'taskUI.cancel' | translate}}
                                    <i class="pi pi-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <small *ngIf="taskForm?.get('description')?.invalid && taskForm?.get('description')?.dirty"
                           class="p-error block">{{'taskUI.max-length-500' | translate}}
                        {{taskForm?.get('description')?.value.length}}
                    </small>
                </div>
                <app-comments [taskIdentifier]="task?.identifier"></app-comments>
            </div>
        </div>

        <!-- right -->
        <div class="col-12 col-sm-3 mt-2 mt-sm-0 wordBreak">
            <p-panel [expandIcon]="true" header="{{'taskUI.task-details-details' | translate}}">
                <div class="row">
                    <div class="col-12">
                        <div class="col-12">
                            <div class="h6">{{'taskUI.task-details-project-identifier' | translate}}</div>
                            <a class="h7 text-primary link-primary"
                               routerLink="{{viewProjectURL}}{{task?.projectIdentifier}}">
                                {{task?.projectIdentifier}}
                            </a>
                        </div>
                        <hr>
                        <div class="col-12 mt-1">
                            <div class="h6">{{'taskUI.task-details-identifier' | translate}}</div>
                            <span class="h7 text-primary">{{task?.identifier}}</span>
                        </div>
                        <hr>
                        <div class="col-12 mt-4">
                            <div>
                                <app-task-status-dropdown *ngIf="applicationConfigurations"
                                                          [applicationConfigurations]="applicationConfigurations"
                                                          formControlName="status"
                                                          [readOnly]="isStatusReadOnly"
                                                          [editable]="isStatusEditable"
                                                          [taskStatusValue]="task?.status"
                                                          (onStatusChanged)="updateTask(); changeStatusState()"
                                                          (onEditClick)="changeStatusState()"
                                >
                                </app-task-status-dropdown>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div>
                                <app-task-priority-dropdown *ngIf="applicationConfigurations"
                                                            [applicationConfigurations]="applicationConfigurations"
                                                            formControlName="priority"
                                                            [readOnly]="isPriorityReadOnly"
                                                            [editable]="isPriorityEditable"
                                                            [priorityValue]="task?.priority"
                                                            (onPriorityChanged)="updateTask(); changePriorityState()"
                                                            (onEditClick)="changePriorityState()">
                                </app-task-priority-dropdown>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="p-fluid">
                                <app-auto-complete-users-groups
                                    [type]="TYPE.ASSIGNS"
                                    (onSave)="updateTask(); changeAssignState()"
                                    [task]="task"
                                    [withSaveButton]="true"
                                    [readOnly]="isAssignReadOnly"
                                    [editable]="isAssignEditable"
                                    (onEditClick)="changeAssignState()"
                                    formControlNameForUsers="usersAssigns"
                                    formControlNameForGroups="groupsAssigns"
                                ></app-auto-complete-users-groups>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <div class="p-fluid">
                                <app-auto-complete-users-groups
                                    [type]="TYPE.SPECTATORS"
                                    (onSave)="updateTask(); changeSpectatorState()"
                                    [task]="task"
                                    [withSaveButton]="true"
                                    [readOnly]="isSpectatorReadOnly"
                                    [editable]="isSpectatorEditable"
                                    (onEditClick)="changeSpectatorState()"
                                    formControlNameForUsers="usersSpectators"
                                    formControlNameForGroups="groupsSpectators"
                                ></app-auto-complete-users-groups>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="h6">{{'taskUI.tasks-header-creation-date' | translate}}</div>
                            <span>{{task?.createdAt | date: datePipeDateFormat}}</span>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="h6">
                                {{'taskUI.tasks-header-due-date' | translate}}
                                <button *ngIf="isDueDateEditable"
                                        class="btn btn-outline-secondary ms-3 mb-1 d-inline"
                                        type="button"
                                        (click)="changeDueDateState()"><i class="pi pi-pencil"></i>
                                </button>
                            </div>
                            <div *ngIf="isDueDateReadOnly">
                                <span *ngIf="task?.dueDate">{{task.dueDate | date: datePipeDateTimeFormat}}</span>
                                <span *ngIf="!task?.dueDate" class="ms-2">{{'taskUI.n_a' | translate}}</span>
                            </div>
                            <div *ngIf="!isDueDateEditable && !isDueDateReadOnly">
                                <p-calendar
                                    class="mt-2"
                                    formControlName="dueDate"
                                    [dateFormat]="pCalendarDateFormat"
                                    [showIcon]="true"
                                    placeholder="{{'taskUI.create-task-task-due-date' | translate}}"
                                    showTime="true"
                                    appendTo="body"
                                    [hourFormat]="24"
                                    [readonlyInput]="true"
                                    (onClose)="changeDueDateState(); updateTask()"
                                    showButtonBar="true">
                                </p-calendar>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="h6">{{'taskUI.tasks-header-username' | translate}}</div>
                            <span>{{task?.createdBy.name}}</span>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
</form>
