<div class="container">

    <h5 class="mt-2 grey-color">
        <span *ngIf="!project">{{'taskUI.create-project-title' | translate}}</span>
        <span *ngIf="project">{{'taskUI.update-project-title' | translate}}</span>
    </h5>
    <form
        (submit)="submit()"
        [formGroup]="projectForm"
        class="mt-4">
        <div class="mb-3">
            <span class="p-float-label">
                <input
                    formControlName="name"
                    id="projectName"
                    type="text"
                    maxlength="250"
                    pInputText
                    [ngClass]="'form-control ng-invalid ng-dirty'"
                >
                <label for="projectName"><span class="red">*</span> {{'taskUI.create-project-project-name' | translate }}</label>
            </span>
            <small *ngIf="projectForm?.get('name')?.invalid && projectForm?.get('name')?.dirty" class="p-error block">{{'taskUI.field-required' | translate}}</small>
        </div>
        <div class="mb-3 mt-4">
            <span class="p-float-label">
                <input formControlName="prefixIdentifier" id="prefixIdentifier" type="text" maxlength="45" pInputText class="form-control">
                <label for="prefixIdentifier"><span class="red">*</span> {{'taskUI.create-project-project-prefix' | translate}}</label>
            </span>
            <div class="form-text">{{'taskUI.create-project-project-prefix-help' | translate}}</div>
            <small *ngIf="projectForm?.get('prefixIdentifier')?.invalid && projectForm?.get('prefixIdentifier')?.dirty" class="p-error block">{{'taskUI.field-required' | translate}}</small>
        </div>
        <div class="mb-3 mt-4">
           <span class="p-float-label">
               <textarea
                   formControlName="description"
                   maxlength="500"
                   class="form-control"
                   id="descriptionTextArea"
                   rows="5"
                   cols="30"
                   pInputTextarea
                   autoResize="autoResize"></textarea>
               <label for="descriptionTextArea">{{'taskUI.create-project-project-description' | translate}}</label>
            </span>
        </div>
        <button
            [disabled]="projectForm.invalid"
            type="submit"
            [ngClass]="project? 'btn btn-warning' : 'btn btn-primary'">
            <span *ngIf="!project">{{'taskUI.create-project-create-button' | translate}}</span>
            <span *ngIf="project">{{'taskUI.create-project-update-button' | translate}}</span>
        </button>
    </form>
</div>
