.visibleDot {
  height: 8px;
  width: 8px;
  background-color: #ff003e;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
}

.invisibleDot {
    height: 8px;
    width: 8px;
    background-color: #ff003e;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    visibility: hidden;
}
