<div class="card ms-2 me-2 mt-1">
    <div class="row m-3">
        <div class="col-6">
            <h5 class="mt-2 grey-color">{{'taskUI.projects' | translate}}</h5>
        </div>
        <div class="col-6">
            <div class="float-end" [pTooltip]="!canUserCreateOrUpdateProject() ? ('taskUI.unauthorised-message-content' | translate) : ''">
                <button type="button"
                        class="btn green-button glow-effect"
                        [routerLink]="[createProjectURL]"
                        [disabled]="!canUserCreateOrUpdateProject()"
                >
                    {{'taskUI.create-new-project' | translate}}
                </button>
            </div>
        </div>
    </div>

    <div class="row me-1">
        <div class="col">
            <div *ngIf="!isFullScreen"
                 (click)="fullScreenMode(true)"
                 class="float-end" pTooltip="{{'taskUI.fullscreen' | translate}}" tooltipPosition="top">
                <i class="pi pi-window-maximize text-dark hover"></i>
            </div>
            <div *ngIf="isFullScreen"
                 (click)="fullScreenMode(false)"
                 class="float-end" pTooltip="{{'taskUI.normal-screen' | translate}}" tooltipPosition="top">
                <i class="pi pi-window-minimize text-dark hover"></i>
            </div>
            <div class="float-end">
                <i (click)="loadPaginatedProjects(null)" class="ms-3 fas fa-sync-alt hover"></i>
            </div>
        </div>
    </div>
    <form [formGroup]="projectsFormCriteria">
        <p-table #dt1
                 [filterDelay]="1000"
                 dataKey="id"
                 [totalRecords]="paginatedProjects?.totalElements"
                 [value]="paginatedProjects?.content"
                 [lazy]="true"
                 (onLazyLoad)="loadPaginatedProjects($event)"
                 responsiveLayout="scroll"
                 [paginator]="true"
                 [rows]="25"
                 [rowsPerPageOptions]="[10,25,50]"
                 [columns]="columns"
                 styleClass="p-datatable-striped"
        >
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <ng-container *ngFor="let col of columns">
                        <th *ngIf="col.field !== 'action'; else action " [pSortableColumn]=col.field>
                            {{col.header | translate}}
                            <p-sortIcon field="col.field"></p-sortIcon>
                        </th>
                        <ng-template #action>
                            <th>{{'taskUI.projects-header-action' | translate}}</th>
                        </ng-template>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container *ngFor="let col of columns">
                        <th *ngIf="col.field !== 'createdAt' && col.field !== 'action'; else createdAt">
                            <input pInputText
                                   [formControlName]="col.field"
                                   type="text"
                                   placeholder="{{col?.placeholder | translate}}"
                                   (input)="dt1.filter($event, col.field, 'equals')"
                                   class="p-column-filter">
                        </th>
                        <ng-template #createdAt>
                            <th *ngIf="col.field !== 'action'">
                                <p-calendar
                                    formControlName="creationDateFromTo"
                                    [dateFormat]=pCalendarDateFormat
                                    [showIcon]="true"
                                    showTime="true"
                                    appendTo="body"
                                    [hourFormat]="24"
                                    [readonlyInput]="true"
                                    (onSelect)="loadPaginatedProjects(null)"
                                    (onClearClick)="loadPaginatedProjects(null)"
                                    showButtonBar="true"
                                    selectionMode="range">
                                </p-calendar></th>
                        </ng-template>
                    </ng-container>

                    <th><i class="fas fa-times ms-1 hover" (click)="resetFilters()"></i></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-project let-columns="columns">
                <tr [pSelectableRow]="project">
                    <ng-container *ngFor="let col of columns">
                        <td *ngIf="col.field !== 'action'">
                            <span class="p-column-title">{{col.field}}</span>
                            <span *ngIf="col.field === 'createdAt'">{{project[col.field] | date: datePipeDateFormat}}</span>
                            <span *ngIf="col.field !== 'createdAt' && col.field !== 'createdBy'">{{project[col.field]}}</span>
                            <span *ngIf="col.field === 'createdBy'">{{project.createdBy}}</span>
                        </td>
                    </ng-container>
                    <td>
                        <button
                            pTooltip="{{'taskUI.projects-header-eye-action' | translate}}"
                            tooltipPosition="top"
                            type="button"
                            routerLink="{{viewProjectURL}}{{project.identifier}}"
                            class="btn">
                            <i class="fas fa-eye hover"></i>
                        </button>

                        <span [pTooltip]="!canUserCreateOrUpdateProject() ? ('taskUI.unauthorised-message-content' | translate) : ''">
                            <button
                                pTooltip="{{'taskUI.projects-header-edit-action' | translate}}"
                                tooltipPosition="top"
                                type="button"
                                routerLink="{{updateProjectURL}}{{project.identifier}}"
                                class="btn"
                                [disabled]="!canUserCreateOrUpdateProject()"
                            >
                                <i class="ms-1 fas fa-pencil-alt hover"></i>
                            </button>
                        </span>

                        <button
                            pTooltip="{{'taskUI.projects-header-task-action' | translate}}"
                            tooltipPosition="left"
                            type="button"
                            routerLink="/tasks"  [queryParams]="{projectIdentifier: project.identifier}"
                            class="btn">
                            <i class="ms-1 fas fa-tasks text-dark hover"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">{{'taskUI.no-projects-found' | translate}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="text-end">
                    {{'taskUI.total-results' | translate}}
                    <p-badge [value]="paginatedProjects?.totalElements"  severity="info"></p-badge>
                </div>
            </ng-template>
        </p-table>
    </form>
</div>
