<div *ngIf="formControlNameForUsers && !readOnly">
    <div *ngIf="type === TYPE.ASSIGNS" class="ms-2">{{'taskUI.create-task-task-users-assigns-title' | translate}}</div>
    <div *ngIf="type === TYPE.SPECTATORS" class="ms-2">{{'taskUI.create-task-task-users-spectators-title' | translate}}</div>
        <p-autoComplete
            id="users"
            [formControl]="usersControl"
            [suggestions]="autoCompleteUsersData"
            (completeMethod)="autocompleteUsers($event)"
            [multiple]="true"
            [unique]="true"
            [delay]="500"
            class="float-start w-100"
            placeholder="{{usersAutoCompletePlaceHolder | translate}}">
        </p-autoComplete>
</div>

<div *ngIf="formControlNameForGroups && !readOnly">
    <div *ngIf="type === TYPE.ASSIGNS" class="mt-2 ms-2">{{'taskUI.create-task-task-groups-assigns-title' | translate}}</div>
    <div *ngIf="type === TYPE.SPECTATORS" class="mt-2 ms-2">{{'taskUI.create-task-task-groups-spectators-title' | translate}}</div>
        <p-autoComplete
            id="groupsAssign"
            [formControl]="groupsControl"
            [suggestions]="autoCompleteGroupsData"
            (completeMethod)="autocompleteGroups($event)"
            [multiple]="true"
            [unique]="true"
            [delay]="500"
            class="float-start w-100"
            placeholder="{{groupsAutoCompletePlaceHolder | translate}}">
        </p-autoComplete>
</div>

<ng-container *ngIf="withSaveButton && (formControlNameForGroups || formControlNameForUsers) && !readOnly">
    <button
        (click)="save()"
        type="button"
        class="ms-1 mt-1 btn btn-outline-success">{{'taskUI.save' | translate}} <i class="pi pi-check"></i>
    </button>

    <button type="button"
            (click)="cancelClick()"
            class="ms-1 mt-1 btn btn-outline-danger">{{'taskUI.cancel' | translate}}
        <i class="pi pi-times"></i>
    </button>
</ng-container>

<div *ngIf="readOnly">
    <div *ngIf="type === TYPE.ASSIGNS" class="h6 d-inline">{{'taskUI.tasks-header-assigns' | translate }}</div>
    <div *ngIf="type === TYPE.SPECTATORS" class="h6 d-inline">{{'taskUI.tasks-header-spectators' | translate }}</div>
    <button *ngIf="editable"
            class="btn btn-outline-secondary d-inline ms-2"
            type="button"
            (click)="editClick()"><i class="pi pi-pencil"></i>
    </button>
    <ng-container *ngIf="type === TYPE.ASSIGNS">
        <div *ngFor="let assign of task?.assigns; let i=index;" class="mt-1">
            <p-avatar *ngIf="assign.user" label="{{assign.user | shortText:3}}"
                      shape="circle">
            </p-avatar>
            <p-avatar *ngIf="assign.group" label="{{assign.group | shortText:3}}"
                      shape="circle">
            </p-avatar>
            <span *ngIf="assign.user" class="ms-1">{{assign.user}}</span>
            <span *ngIf="assign.group" class="ms-1">{{assign.group}}</span>
        </div>
        <div *ngIf="task.assigns?.length == 0"><span
            class="ms-2">{{'taskUI.n_a' | translate}}</span>
        </div>
    </ng-container>
    <ng-container *ngIf="type === TYPE.SPECTATORS">
        <div *ngFor="let spectator of task?.spectators; let i=index;" class="mt-1">
            <p-avatar *ngIf="spectator.user" label="{{spectator.user | shortText:3}}"
                      shape="circle">
            </p-avatar>
            <p-avatar *ngIf="spectator.group" label="{{spectator.group | shortText:3}}"
                      shape="circle">
            </p-avatar>
            <span *ngIf="spectator.user" class="ms-1">{{spectator.user}}</span>
            <span *ngIf="spectator.group" class="ms-1">{{spectator.group}}</span>
        </div>
        <div *ngIf="task.spectators?.length == 0"><span
            class="ms-2">{{'taskUI.n_a' | translate}}</span>
        </div>
    </ng-container>

</div>
