.shadowBottom {
    box-shadow: 0px 15px 10px -15px #111;
}

.nonFullScreenMode {
    box-shadow: 0px 15px 10px -15px #111;
    top: 2.7em;
    left: 0;
    bottom: 92px;
    position: fixed;
    width: 100%;
    overflow: auto;
}

.fullScreenModeMain {
    position: relative;
}

.logo {
    height: 2.5em;
}
