<header *ngIf="!fullScreenMode" class="shadowBottom">
    <div class="row m-0">
        <div class="col-6">
            <div routerLink="{{homeUrl}}">
                <img src="{{logoImage}}" class="logo">
                <span class="corinthiaFont">{{applicationTitle}}</span>
            </div>
        </div>
        <div class="col-6">
            <div class="float-end mt-2">
                <i pTooltip="{{'taskUI.logout' | translate}}"
                   tooltipPosition="left"
                   class="pi pi-sign-out fs-5 mt-1 me-5"
                   (click)="logout()"
                ></i>
            </div>
        </div>
    </div>
</header>

<p-toast></p-toast>
<main [ngClass]="fullScreenMode ? 'fullScreenModeMain': 'nonFullScreenMode'">
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</main>

<app-dock *ngIf="!fullScreenMode"></app-dock>

<div class="loading" *ngIf="loadingSpinner">
    <p-progressSpinner></p-progressSpinner>
</div>
